SECRET_KEY=django-insecure-3h1m#^0ve^6ug04kw%rp)sr&^f&d8$#mgax3$l!f6lz69b_fwr
DEBUG=True

AI_PROVIDER=gemini
GEMINI_API_KEY=AQ.Ab8RN6JkXZMc5rS5qFTaGE1lI0bjpFBvW4hnhCJYHKxou2AIOA
GEMINI_MODEL=gemini-2.5-flash

AT_USERNAME=sandbox
AT_API_KEY=atsk_9e4fcfca31951921a936582df2c9eddd08ef66c74c57c5b23c07992880db8200722bfb72

# Optional: needed for Voice calls and WhatsApp
# AT_VOICE_NUMBER=+254711XXXXXX
# AT_WHATSAPP_NUMBER=+254711XXXXXX
